main {
  background-color: white;
  min-height: 88%;
}

.navMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.navMenu ul li {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  border: 1px gray solid;
  text-align: center;
  padding: 0.8rem 0;
}

.navMenu ul li:hover {
  background-color: gray;
  cursor: pointer;
}

.navMenu ul li button {
  border: none;
  background-color: transparent;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
}

.mainSection {
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75% 25%;
}

.currentResultsContainer {
  grid-column: 1;
  grid-row: 1/3;
  background-color: red;
  height: 100%;
}

.leaguesContainer {
  grid-column: 2;
  grid-row: 1;
  background-color: blue;
}

.additionalContainer {
  grid-column: 2;
  grid-row: 2;
  background-color: yellow;
}
