main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 0.2rem gray solid;
  border-right: 0.2rem gray solid;
  border-bottom: 0.2rem gray solid;
}

.mainSection {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3% 67% 27% 3%;
}

.currentResultsContainer {
  grid-column: 1;
  grid-row: 1/5;
}

.leaguesContainer {
  grid-column: 2;
  grid-row: 2;
}

.additionalContainer {
  grid-column: 2;
  grid-row: 3;
}

.currentResultsShape {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(88, 88, 88);
  clip-path: polygon(80% 5%, 95% 10%, 95% 95%, 20% 95%, 5% 90%, 5% 5%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentResultsShape::after {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  top: 0.2rem;
  left: 0.2rem;
  position: absolute;
  content: "";
  background-color: #e6edf1;
  clip-path: inherit;
  box-sizing: border-box;
  z-index: 2;
}

.leaguesShape {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(88, 88, 88);
  clip-path: polygon(80% 5%, 95% 10%, 95% 95%, 20% 95%, 5% 90%, 5% 5%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaguesShape::after {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  top: 0.2rem;
  left: 0.2rem;
  position: absolute;
  content: "";
  background-color: #e6edf1;
  clip-path: inherit;
  box-sizing: border-box;
}

.additionalShape {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(88, 88, 88);
  clip-path: polygon(90% 5%, 95% 10%, 95% 95%, 10% 95%, 5% 90%, 5% 5%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.additionalShape::after {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  content: "";
  background-color: #e6edf1;
  clip-path: inherit;
  box-sizing: border-box;
}
