.helpBar {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.singleStanding {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  font-size: 1.2rem;
  border-bottom: 1px gray solid;
  padding: 0.5rem 0;
}

.singleStanding:hover {
  cursor: pointer;
  background-color: lightgray;
}
