:root {
  --width: 100%;
  --height: 100%;
  --mainRed: #e6292c;
  --mainGray: #e6edf1;
  --hoverGray: #cccccc;
  --hoverRed: #8d2829;

  --mainRed: #e6292c;
  --darkRed: #8d2829;
  --lightRed: #f24d4d;
  --centerColor: #ffffff; /* Kolor w środku */
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #e6292c;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

.container {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background: repeating-conic-gradient(#e0e0e000 0 25%, #ffffff 0 50%) 24px 0 /
      calc(2 * 24px) calc(2 * 24px),
    radial-gradient(50% 50%, #e6edf1 98%, #ffffff) 0 0/24px 24px;
  clip-path: polygon(
    7.5% 2.5%,
    98.5% 2.5%,
    98.5% 92.5%,
    92.5% 97.5%,
    1.5% 97.5%,
    1.5% 7.5%
  );
}

.app {
  max-height: 90%;
  width: 80%;
  padding: 4rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.disablingLinks {
  text-decoration: none;
  color: initial;
}
