.container {
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoPicture {
  width: 6rem;
  height: 6rem;
  background-image: url("../../assets/goalvision-high-resolution-logo-transparent.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logoSign {
  margin-left: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-size: 4rem;
}

.buttonContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButton {
  width: 35%;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  background-color: black;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.6rem;
  clip-path: polygon(85% 0, 100% 25%, 100% 100%, 15% 100%, 0% 75%, 0 0);
}

.headerButton::after {
  width: calc(100% - 0.3rem);
  height: calc(100% - 0.3rem);
  content: "";
  position: absolute;
  background-color: #e6292c;
  z-index: -1;
  clip-path: inherit;
  box-sizing: border-box;
}

.headerButton::before {
  width: 200%;
  height: 200%;
  top: -100%;
  left: -100%;
  content: "";
  position: absolute;
  background-color: #8d2829;
  transition: transform 0.25s ease;
  transform: translate(-100%, -100%);
  z-index: 0;
}

.headerButton:hover::before {
  transform: translate(0, 0);
}

.headerButton span {
  position: relative;
  z-index: 5;
}
