main {
  max-height: 87%;
  height: 87%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 0.2rem gray solid;
  border-right: 0.2rem gray solid;
  border-bottom: 0.2rem gray solid;
}

.arrowPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButton {
  background-color: #e6292c;
  font-size: 1.5rem;
  clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
  border: none;
  width: 60%;
  color: white;
}

.arrowButton:hover {
  background-color: #8d2829;
}

.basicInformationSection {
  max-height: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 93% 7%;
}

.basicInformationSection .mainPart {
  overflow: auto;
}

.statisticsSection {
  max-height: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.statisticsSection .mainPart {
  display: grid;
  grid-template-rows: 1fr 5fr;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

.additionalInfoSection {
  max-height: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 7% 93%;
}

.additionalInfoSection .mainPart {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 0.5rem;
}
