main {
  max-height: 87%;
  height: 87%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 0.2rem gray solid;
  border-right: 0.2rem gray solid;
  border-bottom: 0.2rem gray solid;
}

.mainSection {
  max-height: 89%;
  height: 89%;
  display: flex;
  flex-direction: column;
}
.contentContainerStandings {
  max-height: 85%;
  height: 85%;
  display: grid;
  grid-template-columns: 93% 7%;
}

.contentContainerStandings .mainPart {
  overflow: auto;
}

.arrowPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButton {
  background-color: #e6292c;
  font-size: 1.5rem;
  clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
  border: none;
  width: 60%;
}

.arrowButton:hover {
  background-color: #8d2829;
}

.contentContainerStatistics {
  max-height: 85%;
  height: 85%;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.contentContainerStatistics .mainPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow-y: auto;
  max-height: 100%;
}

.contentContainerMatches {
  max-height: 85%;
  display: grid;
  grid-template-columns: 7% 93%;
}

.contentContainerMatches .mainPart {
  overflow-y: scroll;
  overflow-x: hidden;
}
