.field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  background-image: url("../../assets/field-no-formation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
}

.fieldRow {
  display: grid;
  gap: 1rem;
  justify-items: center;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fill, minmax(5vw, 1fr));
  height: 100%;
}
