.statisticsPage {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.choosePart {
  height: 5rem;
  max-height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(241, 241, 241);
}

.chooseSection {
  display: flex;
  align-items: center;
  width: 90%;
}

.statisticsSection {
  height: 70%;
}

.statisticDetails {
  height: 100%;
}

.statisticDetailsList {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}
