.inputSection {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: 1.5rem;
}

.inputField {
  font-size: 1.7rem;
  clip-path: polygon(92% 0, 100% 18%, 100% 100%, 8% 100%, 0% 82%, 0 0);
  border: none;
  font-family: "Chakra Petch", sans-serif;
  padding-left: 2.5rem;
  margin: 0.3rem 0;
}
