main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 0.2rem gray solid;
  border-right: 0.2rem gray solid;
  border-bottom: 0.2rem gray solid;
}
