main {
  max-height: 87%;
  height: 87%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 0.2rem gray solid;
  border-right: 0.2rem gray solid;
  border-bottom: 0.2rem gray solid;
}

.mainSection {
  max-height: 89%;
  height: 89%;
  display: flex;
  flex-direction: column;
}

.informationContainer {
  width: 100%;
  max-height: 15%;
  background-color: rgb(238, 235, 235);
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logoContainer,
.flagContainer {
  padding: 0.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logoContainer img,
.flagContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.names {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}

.leagueName {
  font-size: 2.2rem;
  font-weight: bold;
}

.secondary {
  display: flex;
  color: gray;
}

.optionsContainer {
  height: 8%;
  display: flex;
  align-items: center;
}

.optionButton {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  margin: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
  font-family: "Chakra Petch", sans-serif;
  border: none;
  position: relative;
  background-color: lightgray;
}
.optionButton::after {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  top: 0.1rem;
  left: 0.1rem;
  content: "";
  position: absolute;
  background-color: white;
  z-index: -1;
  clip-path: inherit;
  box-sizing: border-box;
}

.optionButton::before {
  width: 200%;
  height: 200%;
  top: -100%;
  left: -100%;
  content: "";
  position: absolute;
  background-color: lightgray;
  transition: transform 0.25s ease;
  transform: translate(-100%, -100%);
  z-index: 0;
}

.optionButton:hover::before {
  transform: translate(0, 0);
}

.optionButton span {
  z-index: 5;
  position: relative;
}

.optionContainer {
  height: 50%;
  position: relative;
  width: 40%;
  margin-right: 2rem;
}

.optionMenu {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 15rem;
  width: 100%;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  text-align: left;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
}

.optionMenu li {
  cursor: pointer;
}

.optionMenu li:hover {
  background-color: lightgrey;
}

.seasonsContainer {
  display: flex;
  align-items: center;
}

.contentContainerStandings {
  max-height: 85%;
  height: 85%;
  display: grid;
  grid-template-columns: 93% 7%;
}

.contentContainerStandings .mainPart {
  overflow: auto;
}

.arrowPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButton {
  background-color: #e6292c;
  font-size: 1.5rem;
  clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
  border: none;
  width: 60%;
}

.arrowButton:hover {
  background-color: #8d2829;
}

.contentContainerStatistics {
  max-height: 85%;
  height: 85%;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.contentContainerStatistics .mainPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow-y: auto;
  max-height: 100%;
}

.contentContainerMatches {
  max-height: 85%;
  display: grid;
  grid-template-columns: 7% 93%;
}

.contentContainerMatches .mainPart {
  overflow-y: scroll;
  overflow-x: hidden;
}
